h1 {
    text-align: center;
    background-color: yellow;
    
}
main {
    background-color: green;
}
body {
    background-color: chartreuse;
    
}
.TextBox {
    text-align: center;
}
.superButton {
    text-align: center;
}
main button {
    font-size: 50px; 
}
main ul{
    text-align: center;
    list-style: none;
    padding: 0;
    font-size: 80px;
}
main li{
    margin: 0 auto;
    border: 12px solid red;
    transition-delay: .05s;
}
main li:hover{
    background-color: peru;
}
main input[type=text]{
    font-size: 50px;
    text-align: center;
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
}

